*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    
}
.light{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 50px auto;
}
p{
    width: 350px;
    padding: 30px;
    margin: 10px auto;
    text-align: center;
    background-color: #5e28c3a8;
    border-radius: 10px;
}
p:hover{
    padding: 35px;
    cursor: pointer;
    background-color: #ba0d80a0;
    color: #e8eff4;
}
